<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>A1 Project</title>
  <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="back-web">BACK</div>
<div class="back-office">BACK</div>

<div class="web-title">
  <h1>Project 1</h1>
</div>

<div class="office-title">
  <h1>Project 2</h1>
</div>

<div class="web-content">
  <div>
    <div id="container">
      <video autoplay="true" id="videoElement">
      
      </video>
    </div>
    <div style="text-align: center; margin-top: 20px;">
      <button class="btn1" id="clicker1">Capture your face!</button>
    </div>

    <canvas id="canvas" width="500" height="375"></canvas>
          
    <button class="btn1" id="clicker2">판별하기</button>
  </div>
</div>

<div class="office-content">

  <!--
  <form method="post" action="upload" enctype="multipart/form-data"></form>
    <input type="file" name="video1" id="imageFileOpenInput" accept="video/*">
    <button class="btn1" type="submit">Upload File</button>
    <button class="btn1" type="reset">다시 올리기</button>
  </form>
  -->

  <div>
    <div>
      <video autoplay="true" id="videoElement2" hidden>
      </video>
    </div>

    <div style="text-align: center; margin-top: 20px;">
      <button class="btn1" id="clicker3">START</button>
      <button class="btn1" id="clicker4">EMD</button>
    </div>

    <canvas id="canvas2" width="500" height="375" hidden></canvas>


  </div>


</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script  src="../static/js/script.js"></script>
<script>
  var video = document.querySelector("#videoElement");
  var video2 = document.querySelector("#videoElement2");
    
  if (navigator.mediaDevices.getUserMedia) {
    navigator.mediaDevices.getUserMedia({ video: true })
      .then(function (stream) {
        video.srcObject = stream;
        video2.srcObject = stream;
      })
      .catch(function (err0r) {
        console.log("Something went wrong!");
      });
  }
  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var video = document.querySelector("#videoElement");

  document.getElementById("clicker1").addEventListener("click", function() {
    context.drawImage(video, 0, 0, 500, 375);
  });

  document.getElementById("clicker2").addEventListener("click", function() {
    var url = "show_map";
    sendImg(canvas, url);
    window.location.href = url
  });

  function sendImg(canvas, url) {
    // get image data as string
    const imageString = canvas.toDataURL();

    // send image to server
    return fetch('/' + url, {
      method: "POST",
      cache: "no-cache",
      credentials: "same-origin",
      headers: {
          "Content-Type": "application/json",
      },
      body: JSON.stringify({
        imageString: imageString,
      }),
    })
      .then((response) => console.log("response:", response.json()))
      .catch((error) => console.log("error:", error))
  }

  <!-- PROJECT 2 -->
  var canvas2 = document.getElementById('canvas2');
  var context2 = canvas2.getContext('2d');
  var video2 = document.querySelector("#videoElement2");
  var captureTime = 3000; <!-- 3000 == 3초 -->

  document.getElementById("clicker3").addEventListener("click", function() {
    startAlert = setInterval(function() {
      context2.drawImage(video2, 0, 0, 500, 375);

      const imageString = canvas2.toDataURL();

      var url = 'alert_no_mask';
      $.post('/'+url,
            JSON.stringify({imageString: imageString}),
            function(data){
              console.log(data);
              <!-- TODO: html에 카운트 출력 -->
              if (data.isAlert) {
                alert("마스크 미착용 안내방송")
              }
            },
            "json"
      );
    }, captureTime);

  });

  document.getElementById("clicker4").addEventListener("click", function() {
    alert('종료');
    clearInterval(startAlert);
  });


</script>


</body>
</html>
